leasson-5/~$JavaScript-lecture-5.pptx
*.dll
*.aps
*csproj.user
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.rar
*.zip
*.jar
*.RAR
*.ZIP
*.JAR
*.orig
[Bb]in
[Dd]ebug*/
*.sbr
*.idea
obj/
[Rr]elease*/
_ReSharper*/
Thumbs.db
[Ss]ource/[Pp]ackages/
[Ss]ource/[Mm]isc/
.vs/
[Ss]ource/[Bb]uild/
[Ss]ource/[Ss]rc/[Ww]eb/[Bb]anking.Web/.idea
[Ss]ource/[Ss]rc/[Ww]eb/[Bb]anking.Web/[Aa]ssets/[Ll]ibs/
[Ss]ource/[Ss]rc/[Ww]eb/[Bb]anking.Web.Tests/bower_components/
[Ss]ource/[Ss]rc/[Mm]obile[Ff]irst[Pp]latfirm/.metadata/
[Ss]ource/[Ss]rc/[Mm]obile[Ff]irst[Pp]latfirm/MobileFirstServerConfig/servers/worklight/workarea/
[Ss]ource/[Ss]rc/[Mm]obile[Ff]irst[Pp]latfirm/MobileFirstServerConfig/servers/worklight/analyticsData/
[Ss]ource/[Ss]rc/[Mm]obile[Ff]irst[Pp]latfirm/MobileFirstServerConfig/shared/resources/derbyDB/
[Ss]ource/[Ss]rc/[Mm]obile[Ff]irst[Pp]latfirm/MobileFirstServerConfig/servers/worklight/tranlog/
[Ss]ource/[Ss]rc/[Ww]eb/CorpLight.Admin/bower_components/

